@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* JS_drawer v1.1.0 ,2023 */
/* create by syo motoyama*/
/* support by studio99.99(https://studio9999.com/) and CRAFT STUDIO SORA(https://cssora.net/) */
:root {
  --drawerColor:#393f4c; /* ドロワーボタンとMENUの色。藍鉄色 */
  --barColor:#eaf4fc; /* ドロワーボタンのアニメーションするバーの色。月白色 */
  --menuColor:linear-gradient( 109.6deg, rgb(179, 179, 179) 11.2%, rgba(237,246,250,1) 100.2% ); /* メニューの背景色。グラデーションなのでbackground-imageで指定 */
}

.toggleButton {
  display: none;
}

/* #drawerMenu ul {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */
#drawerMenu {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

#drawerMenu li {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

#drawerMenu a {
  display: block;
  padding: 1rem; /* マウスが反応する範囲を少し広げている*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

/* アンカーリンクにマウスが乗ると、他のアンカーリンクが少し薄くなる指定 */
/* #drawerMenu ul:has(a:hover) a:not(:hover){
    opacity: 0.3;
} */
#drawerMenu:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

/* @media (width <=800px) { */ /* メディアクエリの値はお好みで */
@media (width <= 660px) {
  .toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    display: block; /* display:none;を解除するために入れている */
    background: var(--drawerColor);
    border-radius: 5px;
    z-index: 100;
  }
  .toggleButton::after {
    /* content: "MENU"; */
    position: absolute;
    bottom: -1rem;
    font-size: 0.725rem;
    font-weight: bold;
    color: var(--drawerColor);
  }
  .toggleButton span {
    width: 60%;
    height: 4px;
    display: block;
    position: absolute;
    left: 20%;
    background-color: var(--barColor);
    border-radius: 5px;
    transition: all 0.2s linear;
  }
  .toggleButton span:nth-of-type(1) {
    top: 10px;
    transform: rotate(0);
  }
  .toggleButton span:nth-of-type(2) {
    top: 18px;
    transform: scale(1);
  }
  .toggleButton span:nth-of-type(3) {
    bottom: 10px;
    transform: rotate(0);
  }
  .close span:nth-of-type(1) {
    top: 18px;
    transform: rotate(-45deg);
  }
  .close span:nth-of-type(2) {
    transform: scale(0);
  }
  .close span:nth-of-type(3) {
    bottom: 18px;
    transform: rotate(45deg);
  }
  #drawerMenu {
    position: fixed;
    top: 0;
    right: -240px;
    transition: all 0.3s linear;
  }
  #drawerMenu.open {
    right: 0;
  }
  /*     #drawerMenu ul {
          display: block;
          width: 200px;
          height: 100%;
          padding: 80px 20px 20px 20px;
          background-image: var(--menuColor);
          overflow: hidden;
          text-align: center;
          list-style-type: none;
          border-radius: 0 0 0 10px;
      } */
  #drawerMenu {
    display: block;
    width: 200px;
    height: 100%;
    padding: 80px 20px 20px 20px;
    background-image: var(--menuColor);
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    border-radius: 0 0 0 10px;
  }
  #drawerMenu li {
    width: 100%;
  }
} /* width <= 800px */
html {
  scroll-behavior: smooth; /* ページ内リンクを押した時、スムーズに画面をスクロールする */
}

.topbtn {
  width: 60px;
  height: auto;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0; /* サイトが読み込まれた瞬間、一瞬画面にボタンが出てきてしまう現象を防ぐため */
  z-index: 10000;
  transition: all 0.5s linear;
}

.topbtn a {
  display: block;
  /*     padding: 30px 0;
      text-align: center;
      background-color: cadetblue;
      color: white;
      border-radius: 50%; */
}

/* section{
    width: 100%;
    height: 100vh;
} */
/* 2023年から追加されたnth-childの記述方法なので、vsCord上ではエラーとして扱われるが、ちゃんと効く（2023年6月現在）*/
:nth-child(1 of section) {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* :nth-child(2 of section){
    background-color:grey;
} */
/****** 共通 ******/
img {
  width: 100%;
}

body {
  font-family: "Shippori Mincho", serif;
  /* font-family: 'Kiwi Maru', serif; */
  /* font-family: 'Shippori Antique B1', sans-serif; */
  /* font-family: 'Shippori Antique', sans-serif; */
  color: #8B6D5C;
}

h2 {
  font-size: 1.2rem;
  text-decoration: underline;
  line-height: 2.5em;
  font-weight: 100;
}

/***** ticktock margin削除 *****/
body .tiktok-embed {
  margin: 0;
}

/***** main背景 *****/
.main_wrapper {
  background-image: url(../img/back.png);
  background-repeat: repeat;
  background-size: 65%;
  background-color: rgba(255, 251, 245, 0.8);
  background-blend-mode: lighten;
}

.main_wrapper {
  padding-bottom: 3rem;
}

/*------ HEADER */
/* navi */
header .header_wrap .header_flex {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  background-color: #08826F;
  /* padding: 0.6rem 1.5rem 0.1rem; */
  padding: 0.6rem 15% 0.1rem;
  /* header,footer背景 */
  background-image: url(../img/back_header_trim.png);
  background-repeat: repeat;
  background-size: 65%;
}

header .header_wrap .nav_flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .header_wrap .nav_flex h1 {
  width: 50px;
  height: auto;
  aspect-ratio: 1/1;
}

header .header_wrap .nav_flex ul {
  display: flex;
  gap: 1rem;
  color: white;
}

header .header_wrap .sns_flex ul {
  display: flex;
  gap: 1rem;
}

header .header_wrap .sns_flex ul li {
  width: 35px;
  height: auto;
  aspect-ratio: 1/1;
}

/* mainVisual */
header .header_wrap {
  /* メインビジュアル */
  height: 100vh;
  background-image: url(../img/Rectangle\ 4.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

header .header_wrap h2 {
  color: #dcc7ba;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  transform: translateY(-30%);
}

header .header_wrap .main_visual_moji {
  font-size: 1.5rem;
}

header .header_wrap .main_visual_moji .set_blank {
  display: none;
}

/* header .header_wrap .new { */
header .header_wrap .new {
  width: 80%;
  max-width: 1120px;
  text-align: center;
  color: rgba(255, 251, 245, 0.8);
  font-size: 0.8rem;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0.4rem 1.5rem 0.2rem;
}

header .move_out {
  font-size: 0.8rem;
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 238, 195, 0.7);
}

/*------ ABOUT(CONCEPT) */
#about {
  padding-top: 3rem;
}

#about .about_wrap {
  width: 90%;
  max-width: 1120px;
  height: 45rem;
  margin: 0 auto;
  position: relative;
}

#about .about_flex {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 8px;
}

#about .about_flex .haikei01 {
  height: 70%;
  opacity: 0.7;
}

#about .about_flex .haikei01 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .about_flex .haikei_bottom {
  width: 100%;
  height: 30%;
  display: flex;
  opacity: 0.5;
}

#about .about_flex .haikei_bottom .haikei02 {
  width: 65%;
  height: 100%;
}

#about .about_flex .haikei_bottom .haikei03 {
  width: 35%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .about_flex .haikei_bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .about_moji {
  top: 0;
  left: 0;
  z-index: 10;
  /* 文字中身 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  color: #dcc7ba;
  position: absolute;
}

#about h2 {
  text-align: center;
  /* font-size: 1.2rem; */
}

#about .concept,
#about .space,
#about .charge {
  width: 80%;
}

#about .about_moji p {
  line-height: 2.1rem;
}

#about .about_moji .space li {
  line-height: 2.1rem;
  list-style-type: decimal;
}

/*------ MENU */
#menu {
  margin: 6rem 0 3rem;
}

#menu h2 {
  text-align: center;
}

#menu .menu_wrap {
  border-radius: 8px;
  font-family: "Kiwi Maru", serif;
  width: 90%;
  max-width: 1120px;
  height: clamp(18rem, 500px, 20rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 3rem;
  background-color: #e9ddc9;
  background-image: url(../img/back_header_trim.png);
  background-repeat: repeat;
  background-size: 100%;
  /* ------- */
  position: relative;
}

#menu .menu_wrap li {
  font-size: 1.2rem;
}

#menu .menu_wrap .menu_img {
  width: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
}

#menu .menu_wrap .menu_01,
#menu .menu_wrap .menu_02 {
  display: flex;
  gap: 1.5rem;
  line-height: 2.1rem;
}

/*------ MAP(ACCESS) */
#map {
  width: 90%;
  max-width: 1120px;
  /* width: 45%; */
  margin: 0 auto;
}

#map h2 {
  text-align: center;
}

#map .map_wrap .map_box iframe {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  /* aspect-ratio: 16/9; */
}

#map p {
  font-size: 0.85rem;
  padding: 0 1rem;
}

/*------ SNS */
#sns {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem auto 0;
  height: 100%;
  max-height: 470px;
}

#sns h2 {
  text-align: center;
}

#sns .sns_twitter p,
#sns .sns_ticktock blockquote {
  width: 300px;
  max-width: 300px;
  min-width: 100px;
  height: 100%;
  max-height: 370px;
}

/*------ FOOTER */
footer {
  background-color: #08826F;
  /* header,footer背景 */
  background-image: url(../img/back_header_trim.png);
  background-repeat: repeat;
  background-size: 65%;
}

footer p {
  color: white;
  text-align: center;
  padding: 0.5rem;
}

/***** レスポンシブ対応 *****/
@media (width < 800px) {
  /*------ HEADER */
  #about .about_wrap {
    /* height: calc(70rem); */
    height: 50em;
  }
  #about .about_flex .haikei01 {
    height: 50%;
  }
  #about .about_flex .haikei_bottom {
    flex-direction: column;
    height: 50%;
  }
  #about .about_flex .haikei_bottom .haikei02,
  #about .about_flex .haikei_bottom .haikei03 {
    width: 100%;
    height: 50%;
  }
  /*------ MENU */
  #menu .menu_wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 25rem;
  }
  /*------ MENU */
  #menu .menu_wrap {
    min-height: 40rem;
  }
  #menu .menu_wrap .menu_img {
    width: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  /*------ SNS */
  #sns {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 800px;
    max-height: 1000px;
  }
  #sns .sns_twitter,
  #sns .sns_ticktock {
    width: 90%;
    height: auto;
  }
  #sns .sns_twitter p {
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    height: 50%;
    max-height: 500px;
    min-height: 360px;
  }
  #sns .sns_ticktock blockquote {
    margin: 0 auto;
    width: 100%;
    height: 50%;
  }
}
/*****(width < 660px)*****/
/* ハンバーガーメニュー */
@media (width <= 660px) {
  header .header_wrap .sns_flex {
    display: none;
    /* ハンバーガーメニュー向け */
  }
  #about .about_wrap {
    /* height: calc(70rem); */
    height: 55em;
  }
}
@media (width > 660px) {
  header .header_wrap .nav_flex .toggleButton {
    display: none;
  }
}
/*****(width < 530px)*****/
@media (width < 530px) {
  /*------ HEADER */
  header .header_wrap .main_visual_moji .set_blank {
    display: block;
  }
  header .header_wrap h2 {
    font-size: 1rem;
    line-height: 3em;
    transform: translateY(-50%);
  }
  /*------ CONCEPT */
  #about .about_wrap {
    height: 70em;
  }
  /*------ MENU */
  #menu .menu_wrap li {
    font-size: 1rem;
  }
  #menu .menu_wrap .menu_img {
    width: 80%;
  }
  /* ------ MAP */
  #map .map_wrap p {
    padding: 0;
  }
  #map .map_wrap .map_box iframe {
    aspect-ratio: 3/4;
  }
}/*# sourceMappingURL=style.css.map */